<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <script src="https://cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trading Notes</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="app">
            <div class="term">
                <div class="search-area">
                    <input type="text" v-model="searchText" class="text-search">
                </div>
                <div v-for="term in filterTerms">
                    <h2>
                        {{term.title}}
                    </h2>
                    <p>
                        {{term.content}}
                    </p>
                </div>
            </div>
            <div class="today-quote" v-if="quote != null">
                <a :href="quote.link" style="float: right;" target="_blank">Reference</a>
                <span style="float: left; cursor: pointer; user-select: none;" @click="onClickNext()"><u>Next</u></span>
                <p style="margin-top: 40px;" v-html="quote.content"></p>
            </div>
            <div class="term">
                <div class="search-area">
                    <input type="text" v-model="searchAticles" class="text-search">
                </div>
                <div class="filter">
                    <div>
                        <span class="filter-checkbox" v-for="topic in topicsArr">
                            <label><input type="checkbox" v-model="topics[topic].checked">{{topic}} ({{topics[topic].amount}})</label>
                        </span>
                    </div>
                    <div style="margin-top: 10px;">
                        <label><input type="checkbox" v-model="isFilterFavoriteOnly">Favorite only <span v-if="favoriteArticles.length > 0">({{favoriteArticles.length}})</span></label>
                    </div>
                </div>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <th>Name</th>
                        <th @click="sortBy = 'replies'">Replies</th>
                        <th @click="sortBy = 'views'">Views</th>
                        <th><img class="favorite-icon" src="/favorite_on.png" alt=""></th>
                    </tr>
                    <tr v-for="(index, article) in filterArticles" class="white-bg">
                        <td>
                            [<a :href="article.topicUrl" target="_blank">{{index + 1}}. {{ article.shortTopic }}</a>] - <a :href="article.url" target="_blank">{{ article.name }}</a>
                        </td>
                        <td>
                            {{ article.replies }}
                        </td>
                        <td>
                            {{ article.views }}
                        </td>
                        <td>
                            <div v-if="article.isLoadingFavorite" class="loader">

                            </div>
                            <span class="cursor-pointer" @click="toggleFavorite(article)" v-if="!article.isLoadingFavorite">
                                <img v-if="!article.isFavorite" class="favorite-icon" src="/favorite_off.png" alt="">
                                <img v-if="article.isFavorite" class="favorite-icon" src="/favorite_on.png" alt="">
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="/main.js"></script>
    </body>
</html>